<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Quiz</title>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
$(document).ready(function () {
  
    $("#cloneButton").click(function () {
    	
        var originalDiv = $("#questionContainer");
        
        var questionCounter = originalDiv.find('.questionList').length; 

        // .clone() clones the contents of #cloneContainer instead of the container itself.
        var clonedDiv = $("#cloneContainer").clone();

        // Update name and Id fields for each clone div
        var newId = "container" + (questionCounter);
        clonedDiv.attr("id", newId);

        var newClass = "questionList";
        clonedDiv.attr("class", newClass);

        var newLabel = "Question: " + (questionCounter + 1);
        clonedDiv.find("label").text(newLabel);

        clonedDiv.find('input[type="text"]').val('');
        //Make 'Quesiton Title' required
        clonedDiv.find('input[name="clone"]').attr('required', 'required');


        clonedDiv.find('input').prop('name', `quizQuestion[${questionCounter}].prompt`);
        clonedDiv.show();
        originalDiv.append(clonedDiv);
    });
    
    
    function renumberQuestionChoices(questionDiv) {
    	 
    	var choiceList = questionDiv.find('.choiceList');
    	var questionIndex = questionDiv.index();
    	
    	choiceList.each(function(index){
    		   
            var newId = "choice" + (index);
            $(this).attr("id", newId);
            
            var newLabel = "Choice: " + (index + 1);
            $(this).find("label").text(newLabel);
            $(this).find('input').prop('name', `quizQuestion[${questionIndex}].questionChoice[${index}].choicePrompt`);
           
       });
    }


    function renumberQuestionsAndChoices() {
  
        
		var questionCounter = $(".questionList").length;
        if (questionCounter === 0) {
            return;
        }
        
        $(".questionList").each(function (index) {
            var newId = "container" + (index);
            $(this).attr("id", newId);

            var newLabel = "Question: " + (index + 1);
            $(this).find("label").text(newLabel);

            $(this).find('input').prop('name', `quizQuestion[${index}].prompt`);
            
            var choiceList = $(this).find('.choiceList')
            choiceList.each(function (choiceIndex){
            	 var choiceLabel = "Choice: " + (choiceIndex + 1);
                 $(this).find("label").text(choiceLabel);
          
            	 $(this).find('input').prop('name', `quizQuestion[${index}].questionChoice[${choiceIndex}].choicePrompt`);

        }); 
        }); 
     			
        }
    
    
    function renumberMessages() {
        // If no question containers of class "questionList" exist, set questionCounter to 0 
        // Otherwise run the method as normal
        var messageCounter = $(".messageList").length;

        if (messageCounter === 0) {
            return;
        }
        
        $(".messageList").each(function (index) {
            var newId = "message" + (index);
            $(this).attr("id", newId);

            var newLabel = "Message: " + (index + 1);
            $(this).find("label").text(newLabel);

            $(this).find('input[name = "cloneMessageText"]').prop('name', `personalizedMessage[${messageCounter}].message`);
            $(this).find('select[name = "cloneMessageChoice"]').prop('name', `personalizedMessage[${messageCounter}].answerChoice`); 
       
        }); 
     			  
        }
   
   
    
    
    
 

    // Attach click event to the document and filter for elements with class 'deleteButton' inside '.cloneContainer'
    $(document).on("click", ".deleteButton", function () {
 
    var questionDiv = $(this).closest('.questionList');
    // Find and remove question choices associated with the question
    questionDiv.find('.choiceList').remove();

    // Remove the question itself
    questionDiv.remove();
    
        renumberQuestionsAndChoices();
    });
    
    
    $(document).on("click", ".deleteMessageButton", function () {
 
    var messageDiv = $(this).closest('.messageList');

    messageDiv.remove();
    
        renumberMessages();
    });
    
    
   $(document).on("click", ".choiceDeleteButton", function () {	
	var choiceDiv = $(this).closest('.choiceList');
	var questionDiv = $(this).closest('.questionList');
	choiceDiv.remove();
    renumberQuestionChoices(questionDiv);
   });
   
   
    
    //Even if the elements didn't exist when the event handler was initially attached, the handler will still catch the event 
    $(document).on("click", ".choiceButton", function () {
     var clonedChoiceDiv = $("#choiceTemplate").clone();
     
     var newClass = "choiceList";
     clonedChoiceDiv.attr("class", newClass);
    
     var questionDiv = $(this).closest('.questionList');
     var questionIndex = questionDiv.index();
     
     var choiceCounter = questionDiv.find('.choiceList').length; 

     var choiceId = "choice" + choiceCounter;
     clonedChoiceDiv.attr("id", choiceId);
     
     var choiceLabel = "Choice: " + (choiceCounter + 1);
     clonedChoiceDiv.find("label").text(choiceLabel);
     
     clonedChoiceDiv.find('input[name="cloneChoice"]').attr('required', 'required');

     clonedChoiceDiv.find('input[name="cloneChoice"]').prop('name', `quizQuestion[${questionIndex}].questionChoice[${choiceCounter}].choicePrompt`);
     clonedChoiceDiv.find('select[name = "cloneValueChoice"]').prop('name', `quizQuestion[${questionIndex}].questionChoice[${choiceCounter}].choiceValue`);
     clonedChoiceDiv.show();
     questionDiv.append(clonedChoiceDiv);
    	 
    });
    
 
    $("#addMessageButton").click(function () {
        var originalDiv = $("#messageContainer");

        var messageCounter =  originalDiv.find('.messageList').length
        if (messageCounter >=6) {
        	
        	alert("The maximum number of message options is 6")
        	return;
        }
        
        // .clone() clones the contents of #cloneContainer instead of the container itself.
        var clonedDiv = $("#cloneMessageContainer").clone();

        // Update name and Id fields for each clone div
        var newId = "messageContainer" + (messageCounter);
        clonedDiv.attr("id", newId);

        var newClass = "messageList";
        clonedDiv.attr("class", newClass);

        var newLabel = "Message: " + (messageCounter + 1);
        clonedDiv.find('label[name="cloneMessageText"]').text(newLabel);

        clonedDiv.find('input[type="text"]').val('');
        clonedDiv.find('input[name="cloneMessageText"]').attr('required', 'required');
        clonedDiv.find('input[name = "cloneMessageText"]').prop('name', `personalizedMessage[${messageCounter}].message`);
        clonedDiv.find('select[name = "cloneMessageChoice"]').prop('name', `personalizedMessage[${messageCounter}].answerChoice`);
        clonedDiv.show();
        originalDiv.append(clonedDiv);
    });
    
    
})




</script>
</head>

<body>
	<form th:action="@{/api/v1/quiz/registerQuiz}" method="post"
		th:object=${quiz}>

		<div>
			<label> Title </label> <input type="text" th:field="*{quizTitle}" required/>
		</div>


		<div id="cloneContainer" style="display: none;" class="cloneClass">
			<label> Question: </label> <input type="text" name="clone"/>
			<button type="button" class="deleteButton">Delete Question</button>			
			<button type="button" class="choiceButton">Add Choice</button> 
		</div>
		
		<div id="questionContainer"></div>
		
		<div id="messageContainer"></div>

		<div id="choiceTemplate" style="display: none;"
			class="cloneContainerClass">
			<label> Choice: </label> <input type="text" name="cloneChoice"/>
			<label for="cloneValueChoice">Choice:</label>
			<select id="cloneValueChoice" name="cloneValueChoice">
		  	 <option value="A">A</option>
  		     <option value="B">B</option>
  		     <option value="C">C</option>
  		     <option value="D">D</option>
  		     <option value="E">E</option>
  		     <option value="F">F</option>    
  		     </select>
			<button type="button" class="choiceDeleteButton">Delete Choice</button>		
		</div>
		
		
		<div id="cloneMessageContainer" style="display: none;"
			class="cloneMessageClass">
			<label> Message: </label> <input type="text" style = "width: 400px; height: 75px;" name="cloneMessageText"/>
			<label for = "cloneMessage">Corresponds to Choice: </label>
			<select id = "cloneMessage" name = "cloneMessageChoice">
			 <option value="A">A</option>
  		     <option value="B">B</option>
  		     <option value="C">C</option>
  		     <option value="D">D</option>
  		     <option value="E">E</option>
  		     <option value="F">F</option>    
  		     </select>
			<button type="button" class="deleteMessageButton">Delete Message</button>	
		</div>

		<div>

		<!-- Match the selector at the time when this code runs so it won't work for elements dynamically added to the DOM after the initial page load -->
			<button type="button" id="cloneButton">Add Question</button>
			<button type="button" id="addMessageButton">Add Message</button>
			
		</div>
		
		<div>
			<input type="submit" value="Submit">
		</div>
	</form>
</body>
</html>