<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz List</title>
</head>
<body>
    <h1>Quiz List</h1>

 <ul th:if="${quizzes}">
        <li th:each="quiz : ${quizzes}">
          <!-- Creating link for a quiz with a URI template that includes {quizId} -->
          <!-- clicking sends request to the server, and value for {quizId} is extracted from the actual URI. -->
          <!-- The controller will  use @PathVariable to extract this ID, 
          <!-- You can use it to retrieve the questions associated with that quiz and show them on another page. -->
            <a th:href="@{'/quiz/' + ${quiz.id}}" th:text="${quiz.quizTitle}"></a>
        </li>
    </ul>
    <p th:unless="${quizzes}">No quizzes available</p>
    
    
</body>
</html>

