<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Quiz</title>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>


//---------------------- Append Clone Methods ---------------------------------------------------------//

$(document).ready(function () {
  
    $("#cloneButton").click(function () {

        var originalDiv = $("#questionContainer");
        var questionCounter = originalDiv.find('.questionList').length; 
        var clonedQuestionDiv = $("#cloneQuestionContainer").clone(true);

        var questionId = "questionContainer" + (questionCounter);
        clonedQuestionDiv.attr("id", questionId);

        var questionClass = "questionList";
        clonedQuestionDiv.attr("class", questionClass);

        var questionLabel = "Question: " + (questionCounter + 1);
        clonedQuestionDiv.find("label").text(questionLabel);

        clonedQuestionDiv.find('input[type="text"]').val('');
        clonedQuestionDiv.find('input').attr('required', 'required');
        
        clonedQuestionDiv.find('input').prop('name', `quizQuestion[${questionCounter}].prompt`);  
        
        clonedQuestionDiv.show();
        originalDiv.append(clonedQuestionDiv);

    });
    
    
    
    $(document).on("click", ".choiceButton", function () {
        var clonedChoiceDiv = $("#cloneChoiceContainer").clone(true);
     
        var choiceClass = "choiceList";
        clonedChoiceDiv.attr("class", choiceClass);
    
        var questionDiv = $(this).closest('.questionList');
        var questionIndex = questionDiv.index();
     
        var choiceCounter = questionDiv.find('.choiceList').length; 

        var choiceId = "choice" + choiceCounter;
        clonedChoiceDiv.attr("id", choiceId);
     
        var choiceLabel = "Choice: " + (choiceCounter + 1);
        clonedChoiceDiv.find("label").text(choiceLabel);
     
        clonedChoiceDiv.find('input[name="cloneChoice"]').attr('required', 'required');

        clonedChoiceDiv.find('input[name="cloneChoice"]').prop('name', `quizQuestion[${questionIndex}].questionChoice[${choiceCounter}].choicePrompt`);
        clonedChoiceDiv.find('select[name="cloneValueChoice"]').prop('name',`quizQuestion[${questionIndex}].questionChoice[${choiceCounter}].choiceValue`); 
        
        clonedChoiceDiv.show();
        questionDiv.append(clonedChoiceDiv);
        
    	 
    });
    
    
    
    $("#addMessageButton").click(function () {
        var originalDiv = $("#messageContainer");

        var messageCounter =  originalDiv.find('.messageList').length;
        if (messageCounter >=6) {
        	
        	alert("The maximum number of message options is 6")
        	return;
        }
        
      
        var clonedMessageDiv = $("#cloneMessageContainer").clone(true);     
        var newId = "messageContainer" + (messageCounter);
        
        clonedMessageDiv.attr("id", newId);

        var messageClass = "messageList";
        clonedMessageDiv.attr("class", messageClass);

        var messageTextLabel = "Message: " + (messageCounter + 1);
        clonedMessageDiv.find('label:first-child').text(messageTextLabel);
        
        clonedMessageDiv.find('input[type="text"]').val('');
        clonedMessageDiv.find('input[name="cloneMessageText"]').attr('required', 'required');
        var myList = [];
        $(".messageList").each(function (messageIndex) {
         var ListItem = $(this).find('select').val();
         myList.push(ListItem);
        });
        
        if (!myList.includes('A')){
        	clonedMessageDiv.find('select').val('A');
        	
        }
        else if (!myList.includes('B')){
        	clonedMessageDiv.find('select').val('B');
        	
        }
        else if (!myList.includes('C')) {
        	clonedMessageDiv.find('select').val('C');
        
        }
        else if (!myList.includes('D')) {
        	clonedMessageDiv.find('select').val('D');
        }
        else if (!myList.includes('E')) {
        	clonedMessageDiv.find('select').val('E');
        }
        else {
        	clonedMessageDiv.find('select').val('F'); 
        } 
        
        clonedMessageDiv.find('input').prop('name', `personalizedMessage[${messageCounter}].message`);
        clonedMessageDiv.find('select').prop('name', `personalizedMessage[${messageCounter}].answerChoice`);
            
        clonedMessageDiv.show();
        originalDiv.append(clonedMessageDiv);

    });

//------------------------------------------- Renumeber Index Methods ---------------------------------------------------------//
 
 
  	    function renumberQuestionChoices(questionDiv) {	 
	
  	    	var choiceList = questionDiv.find('.choiceList');
			var questionIndex = questionDiv.index();
            choiceList.each(function(choiceIndex){
            var reIndexChoiceId = "choice" + (choiceIndex);
            $(this).attr("id", reIndexChoiceId);
     
            var reIndexChoiceLabel = "Choice: " + (choiceIndex + 1);
            $(this).find("label").text(reIndexChoiceLabel);             
            
            $(this).find('input').prop('name', `quizQuestion[${questionIndex}].questionChoice[${choiceIndex}].choicePrompt`);
            $(this).find('select').prop('name', `quizQuestion[${questionIndex}].questionChoice[${choiceIndex}].choiceValue`); 
 
        });
    }
    
    
	function renumberQuestionsAndChoices() {
         
		var originalDiv = $("#questionContainer");
		var questionList = originalDiv.find('.questionList'); 
	       
          questionList.each(function (questionIndex) {
            var reIndexQuestionId = "container" + (questionIndex);
            $(this).attr("id", reIndexQuestionId);
            var reIndexQuestionLabel = "Question: " + (questionIndex + 1);
            $(this).find("label").text(reIndexQuestionLabel);
            
              $(this).find('input').prop('name', `quizQuestion[${questionIndex}].prompt`);
              questionDiv = $(this);
              var choiceList = questionDiv.find('.choiceList'); 
              if (choiceList.length > 0) {
                  renumberQuestionChoices(questionDiv);
              }
	 }); 
    }
  	
    
    function renumberMessages() {
    	   
		var messageDiv = $("#messageContainer");
		var messageList = messageDiv.find('.messageList'); 
        
        $(".messageList").each(function (messageIndex) {
            var reIndexMessageId = "message" + (messageIndex);
            $(this).attr("id", reIndexMessageId);
         
            var reIndexMessageTextLabel = "Message: " + (messageIndex + 1);
            $(this).find('label:first-child').text(reIndexMessageTextLabel);
            
            $(this).find('input').prop('name', `personalizedMessage[${messageIndex}].message`); 
            $(this).find('select').prop('name', `personalizedMessage[${messageIndex}].answerChoice`); 
        }); 
    }
   
    
//----------------------------------------- Delete Methods ---------------------------------------------------------//
 

    $(document).on("click", ".deleteButton", function () {
        var questionDiv = $(this).closest('.questionList');
        questionDiv.find('.choiceList').remove();
        questionDiv.remove();
        renumberQuestionsAndChoices();
    });
    
    
    $(document).on("click", ".deleteMessageButton", function () {
        var messageDiv = $(this).closest('.messageList');
        messageDiv.remove();    
        renumberMessages();
    });
    
    
    $(document).on("click", ".choiceDeleteButton", function () {	
        var choiceDiv = $(this).closest('.choiceList');
        var questionDiv = $(this).closest('.questionList');
        choiceDiv.remove();
        renumberQuestionChoices(questionDiv);
    }); 
    
    
    
  //---------------------- Form validation Methods ---------------------------------------------------------//

    $('#myForm').submit(function(event){
    	var isValid = true;
    	var originalDiv = $("#questionContainer");
    	var messageDiv =  $("#messageContainer");
    	var questionList = originalDiv.find('.questionList');
    	var numberOfQuestions = originalDiv.find('.questionList').length;
    	var numberOfMessages =  messageDiv.find('.messageList').length;
    	var myList = [];
        $(".messageList").each(function (messageIndex) {
            var ListItem = $(this).find('select').val();
            myList.push(ListItem);
        });
		var uniqueSet = new Set(myList);

    	if (numberOfQuestions === 0) {
    		isValid = false
    		alert('A quiz must have at least 1 question');
    		
    	} 
    	

    	else if (numberOfMessages < 2) {
    		isValid = false
    		alert('A quiz must have at least 2 personality options');
    		
    		
    	}
    	else if (uniqueSet.size !== myList.length) {
    		  
    		    isValid = false;
    		    alert('Duplicate values found in the list');
	
    	 }else{
    	
    	questionList.each(function(questionIndex){
    		var choiceList = $(this).find('.choiceList');
    		if (choiceList.length < 2) {
    				isValid = false	
    				alert('Each question must have at least 2 answer choices');
                }	
    	  });
    	
    	 }
    	
    	if (!isValid) {
            event.preventDefault();
            
    	}
    }); 	 
});

</script>
</head>

<body>
	<form th:action="@{/api/v1/quiz/registerQuiz}" id="myForm" method="post"
		th:object=${quiz}>

		<div>
			<label> Title </label> <input type="text" th:field="*{quizTitle}" required/>
		</div>




<!-- -------------   Container used for cloning/appending Questions  ------------------------------------>

		<div id="cloneQuestionContainer" style="display: none;" class="cloneQuestionClass">
			<label> Question: </label> <input type="text" />
			<button type="button" class="deleteButton">Delete Question</button>			
			<button type="button" class="choiceButton">Add Choice</button> 
		</div>
		
		<div id="questionContainer"></div>
		
		<div id="messageContainer"></div>
		
		
<!-- -------------   Container used for cloning/appending Question Choices ------------------------------------>

		<div id="cloneChoiceContainer" style="display: none;"
			class="cloneContainerClass">
			<label> Choice: </label> <input type="text" name="cloneChoice"/>
			<label for="cloneValueChoice">Choice:</label>
			<select id="cloneValueChoice" name="cloneValueChoice">
		  	 <option value="A">A</option>
  		     <option value="B">B</option>
  		     <option value="C">C</option>
  		     <option value="D">D</option>
  		     <option value="E">E</option>
  		     <option value="F">F</option>    
  		     </select>
			<button type="button" class="choiceDeleteButton">Delete Choice</button>		
		</div>
		
		
<!-- -------------   Container used for cloning/appending Messages  ------------------------------------>

		<div id="cloneMessageContainer" style="display: none;"
			class="cloneMessageClass">
			<label> Message: </label> <input type="text" style = "width: 400px; height: 75px;" name="cloneMessageText"/>
			<label for = "cloneMessage">Corresponds to Choice: </label>
			<select id = "cloneMessage" name = "cloneMessageChoice">
			 <option value="A">A</option>
  		     <option value="B">B</option>
  		     <option value="C">C</option>
  		     <option value="D">D</option>
  		     <option value="E">E</option>
  		     <option value="F">F</option>    
  		     </select>
			<button type="button" class="deleteMessageButton">Delete Message</button>	
		</div>

		<div>

		<!-- Match the selector at the time when this code runs so it won't work for elements dynamically added to the DOM after the initial page load -->
			<button type="button" id="cloneButton">Add Question</button>
			<button type="button" id="addMessageButton">Add Message</button>
			
		</div>
		
		<div>
			<input type="submit" value="Submit">
		</div>
	</form>
</body>
</html>