<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Quiz</title>

</head>

<body>
	

	<form th:action="@{/api/v1/quiz/submitEdit}" method="post">
	
	<input type="text" th:name="quizTitle" th:value="${quiz.quizTitle}">
		<!-- Add a hidden input field to store the quizId -->
		<input type="hidden" th:name="id" th:value="${quiz.id}" />

		
	    	<ul th:if="${quiz.quizQuestion}"> 
	    	
			<li th:each="question, questionIterStat : ${quiz.quizQuestion}">
			<input type="text" style = "width: 400px;"
				th:value="${question.prompt}"
			    th:name="'quizQuestion[' + __${questionIterStat.index}__ + '].prompt'" /> 
			 
				<ul th:if="${question.questionChoice}">
					<li th:each="choice, choiceIterStat : ${question.questionChoice}">
					<label>
						 <select th:name="'quizQuestion[' + __${questionIterStat.index}__ + '].questionChoice[' + __${choiceIterStat.index}__ + '].choiceValue'" >
                        <option th:each="value : ${choiceValues}" 
                                th:value="${value}" 
                                th:text="${value}" 
                                th:selected="${value == choice.choiceValue}"></option>
                  		  </select>
                      <input th:value="${choice.choicePrompt}" th:name = "'quizQuestion[' + __${questionIterStat.index}__ + '].questionChoice[' + __${choiceIterStat.index}__ + '].choicePrompt'" type="text" style = "width: 200px;" >
					</label></li>
				</ul>
				<p th:unless="${question.questionChoice}">No choices available</p></li>
		</ul>
		
		
		   <ul th:if="${quiz.personalizedMessage}">
			<li th:each = "message, messageIterStat : ${quiz.personalizedMessage}">
			<label>
			<select th:name = "'personalizedMessage[' + __${messageIterStat.index}__ + '].answerChoice'">
			<option th:each = "answerValue : ${answerChoice}"
			th:value = "${answerValue}"
			th:text = "${answerValue}"
			th:selected="${answerValue == message.answerChoice}"></option>
			</select>
			  <textarea style="width: 400px; height: 80px;" th:name = "'personalizedMessage[' + __${messageIterStat.index}__ + '].message'" >[[${message.message}]]</textarea>
			</label> </li>
		</ul>
		
	
		<button type="submit">Update Quiz</button>
	</form>

	<p th:unless="${quiz.quizQuestion}">No questions available</p>
</body>
</html>