<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Quiz</title>

</head>

<body>
	

	<form th:action="@{/api/v1/quiz/submitEdit}" method="post">
	
	<input type="text" th:name="quizTitle" th:value="${quiz.quizTitle}">
		<!-- Add a hidden input field to store the quizId -->
		<input type="hidden" th:name="id" th:value="${quiz.id}" />

		<ul th:if="${questions}">
			<li th:each="question : ${questions}"><input type="text" style = "width: 400px;"
				th:value="${question.prompt}" /> <input type="hidden"
				th:name="questionId" th:value="${question.id}" /> 
				<ul th:if="${question.questionChoice}">
					<li th:each="choice : ${question.questionChoice}"><label>
						     <select th:name="'choice_' + ${question.id}" >
                        <!-- Iterate over enum values for each QuestionChoice -->
                        <option th:each="value : ${choiceValues}" 
                                th:value="${value}" 
                                th:text="${value}" 
                                th:selected="${value == choice.choiceValue}"></option>
                  		  </select>
                      <input th:value="${choice.choicePrompt}" th:name = "choicePrompt" type="text" style = "width: 200px;" >
					</label></li>
				</ul>
				<p th:unless="${question.questionChoice}">No choices available</p></li>
		</ul>

		<button type="submit">Update Quiz</button>
	</form>

	<p th:unless="${questions}">No questions available</p>
</body>
</html>