<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Quiz</title>

</head>

<body>
	<h1 th:text="${quiz.quizTitle}"></h1>

	<form th:action="@{/api/v1/quiz/updateQuiz}" method="post">
		<!-- Add a hidden input field to store the quizId -->
		<input type="hidden" th:name="quizId" th:value="${quiz.id}" />


		<ul th:if="${questions}">
			<li th:each="question : ${questions}"><input type="text" style = "width: 400px;"
				th:value="${question.prompt}" /> <input type="hidden"
				th:name="questionId" th:value="${question.id}" /> <!-- Iterate over the choices for the current question -->
				<ul th:if="${question.questionChoice}">
					<li th:each="choice : ${question.questionChoice}"><label>
						     <select th:name="'choice_' + ${question.id}" >
                        <!-- Iterate over enum values for each QuestionChoice -->
                        <option th:each="value : ${choiceValues}" 
                                th:value="${value}" 
                                th:text="${value}" 
                                th:selected="${value == choice.choiceValue}"></option>
                  		  </select>
                      <span th:text="${choice.choicePrompt}"></span> 
					</label></li>
				</ul>
				<p th:unless="${question.questionChoice}">No choices available</p></li>
		</ul>




		<button type="submit">Update Quiz</button>
	</form>

	<p th:unless="${questions}">No questions available</p>
</body>
</html>